.logo{
    display: block ;
    margin: auto;
    width: 100px;
    height: 100px;

}
h1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container
{

    max-width: 700px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    height: 60vh;
    border-radius: 6px; 
    padding: 33px;
    overflow-y: scroll;
    margin-bottom: 23px;
}

.message{

    background: linear-gradient(45deg, coral, transparent);
    width: 85%;
    padding: 10px;
    margin: 27px auto;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
   

   

}
.right{
    float: right;
    clear: both;
    
        
   
}
    
.left{
    float: right;
    clear: both;
    
    
   
   
}
#send-container
{
    display: block;
    margin: auto;
    max-width: 700px;
    text-align: center;

}
#messageInp{
    width: 77%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    
     cursor: pointer;
     border: 2px solid black;
     border-radius: 6px;
     height: 34px;
}

body{
    height: 100vh;
    background-color: coral;
}